<div class="container">
  <h1 class="form-title">Vous cherchez une plante ?</h1>
  <form id="filterform" action="./list-filter" method="POST">
    <div class="addformgroup">
      <label for="name">Nom</label>
      <input type="text" name="name" id="name" />
    </div>
    <div class="addformgroup">
      <label for="specie">Espèces</label>
      <input type="text" name="specie" id="specie" />
    </div>
    <div class="addformgroup">
      <label for="family">Famille</label>
      <input type="text" name="family" id="family" />
    </div>
    <div class="addformgroup">
      <input type="submit" value="Rechercher" />
    </div>
  </form>
</div>
