<?php 
  session_start();
?>
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="DicoFleur : Encyclopédie végétale | Aide à la reconnaissance des végétaux | Jeux et Evaluations"
    />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="dicofleur , fleurs , végétaux , jeux" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="BROSSE Ken" />
    <meta name="copyright" content="Brosse Ken" />

    <link rel="icon" type="image/png" href="./public/img/fleur-icon-2.png" />
    <title><?php echo $pageTitle ?></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./public/css/style.min.css" />
  </head>
  <body>
    <main id="layout-box" class="layout-box">
      <?php require_once('./templates/navbar.html'); ?>

